body {
    overflow-x: hidden;
    background-image: url(../images/planetvector.png);
    background-size: 100%;
    background-repeat: no-repeat; 
}
a.nav-link {
    text-decoration: none;
    color: #ece9d8;
    font-family: 'Do Hyeon', sans-serif;
}
a.nav-link:hover {
    text-shadow: 0 0 10px #33ff00;
    color: #ece9d8;
}
.btn-projects {
    color: #ece9d8;
    text-shadow: 2px 2px 4px black;
    background-color: #61b3ee;
}
.btn-projects:hover {
    text-decoration: none;
    box-shadow: 0 0 10px #ece9d8;
    color: #ece9d8;
}
/*Define heights on pages to allow 1 page portfolio with scrollspy animations*/
.navbar {
    height: 10vh;
    background: #282828;
}
.nav-link.active {
    text-shadow: 0 0 10px #33ff00;
    color: #ece9d8;
    background: none !important;
}
.img-left {
    width: 10%;
    padding-right: 4px;
}
.img-inner {
    width: 10%;
    padding-left: 4px;
    padding-right: 4px;
}
.img-right {
    width: 10%;
    padding-left: 4px;
}
.fullStack {
    text-align: center;
}
.profilePic {
    border-radius: 50%;
}
.profile {
    animation-delay: 1.25s;
}
.intro {
    height: 100vh;
}
.intro-title {
    margin-top: 20vh;
}
.intro-text {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color: #ece9d8;
    font-size: 8em;
    text-shadow: 2px 2px 4px black;
}
@keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: visible;
      transform: translate3d(0, -100%, 0);
    }
}
  
.slideOutUp {
animation-name: slideOutUp;
}
.summary {
    top: -100px;
    padding-top: 10px;
    padding-bottom: 10px;
    animation-delay: 250ms;
    animation-duration: 1.5s;
}
.caption {
    animation-iteration-count: infinite;
    animation-duration: 2999ms;
}
.title-text {
    color: #ece9d8;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-family: 'Do Hyeon', sans-serif;
}
.header-text {

}
.body-text {

}
.sub-text {
    color: #ece9d8;
    text-align: center;
}

