body {
    overflow-x: hidden;
    background-image: url(../images/blackmamba.png);
}
a.nav-link {
    text-decoration: none;
    color: #ece9d8;
}
a.nav-link:hover {
    text-shadow: 0 0 10px #33ff00;
    color: #ece9d8;
}
/*Define heights on pages to allow 1 page portfolio with scrollspy animations*/
.navbar {
    height: 10vh;
    background: #282828;
}
.nav-link.active {
    text-shadow: 0 0 10px #33ff00;
    color: #ece9d8;
    background: none !important;
}
.img-left {
    width: 10%;
    padding-right: 4px;
}
.img-inner {
    width: 10%;
    padding-left: 4px;
    padding-right: 4px;
}
.img-right {
    width: 10%;
    padding-left: 4px;
}
.img-inner:hover,
.img-left:hover,
.img-right:hover {
    position: relative;
    top: -10px;
}
.fullStack {
    text-align: center;
}
.profilePic {
    border-radius: 50%;
}
.profile {
    animation-delay: 1.25s;
}
.intro {
    height: 90vh;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.73) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.04)), color-stop(100%,rgba(0,0,0,0.73)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.73) 100%);	
}
.intro-title {
    margin-top: 20vh;
}
.intro-text {
    text-align: center;
    color: #ece9d8;
    font-size: 8em;
}
@keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: visible;
      transform: translate3d(0, -100%, 0);
    }
}
  
.slideOutUp {
animation-name: slideOutUp;
}
.summary {
    top: -100px;
    animation-delay: 250ms;
    animation-duration: 1.5s;
}
.caption {
    animation-iteration-count: infinite;
    animation-duration: 2999ms;
}
.title-text {
    color: #ece9d8;
    text-align: center;
}
.header-text {

}
.body-text {

}
.sub-text {
    color: #ece9d8;
    text-align: center;
}

